.btn {
    padding: 10px 20px;
    border-radius: 46px;
    border: 2px solid var(--main-color);
    display: block;
    width: fit-content;
    transition: 0.3s ease;
}
.activeBtn {
    background-color: var(--main-color) !important;
    color: #fff !important;
    transform: translateX(20px);
    box-shadow: -21px 13px 29px rgba(221, 38, 78, 0.35);
}