.news {
  width: 25vw;
  border-radius: 46px;
  box-shadow: -15px 6px 28px rgba(34, 43, 60, 0.12);
}
.newsImg {
  width: 100%;
  height: 200px;
  border-radius: inherit;
}
.newsImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.newsContainer {
  padding: 100px;
  padding-bottom: 0;
  display: flex;
  gap: 20px;
}
.newsContent {
  padding: 20px;
}
.newsContent h1 {
  font-size: 20px;
  font-weight: 600;
  margin: 1rem 0;
}
.newsContent p {
  color: #313a4b;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
