.projectsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.projectImg {
  width: 300px;
  height: 200px;
  background: url(../../assets/project.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.slider {
  width: 75vw;
  position: relative;
}
.carousel {
  overflow-x: hidden;
  position: relative;
  cursor: grab;
}

.project {
  border-radius: 20px;
  box-shadow: -15px 6px 28px rgba(34, 43, 60, 0.12);
  width: 40%;
}
.innerCarousel {
  display: flex;
  gap: 25px;
}
.projectInfo {
  padding: 20px;
  border-radius: inherit;
}

.leftBtn,
.rightBtn {
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
  padding: 20px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  transition: 0.3s ease;
}

.leftBtn {
  left: -20px;
}

.rightBtn {
  right: -20px;
  transform: translateY(-50%) rotate(180deg);
}

.author,
.flag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
}

.flag img {
  padding-top: 5px;
}

.leftBtn:active {
  transform: translateY(-50%) scale(0.85);
}

.rightBtn:active {
  transform: translateY(-50%) scale(0.85) rotate(180deg);
}
@media screen and (max-width: 975px) {
  .leftBtn,
  .rightBtn {
    display: none;
  }
  .project {
    width: 170px;
  }
  .projectInfo h1 {
    font-size: 14px;
  }
  .projectInfo span {
    font-size: 12px;
  }
  .author {
    font-size: 10px;
  }
  .slider .innerCarousel {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .projectImg {
    width: 100%;
    height: 120px;
  }
  .slider {
    width: 100%;
    padding: 0;
  }
  .projectsContainer .btns {
    padding: 0 20px !important;
  }
}
