.sectionContainer {
    position: relative;
    display: flex;
    /* justify-content: space-between; */
    gap: 50px;
    align-items: center;
    overflow: hidden;
    padding: 50px;
}

.smallPattern1,
.smallPattern2 {
    width: 132px;
    height: 132px;
}

.smallPattern1 img,
.smallPattern2 img,
.bigPattern img {
    width: 100%;
    height: 100%;
}
.content {
    display: flex;
    /* background: url(../../assets/pattern-big-1.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; */
    position: relative;
}

.verticalText {
    display: inline-block;
    transform: rotate(90deg);
}

.logo301 {
    /* mix-blend-mode: color; */
}

.bigPattern {
    /* position: absolute; */
    /* top: 0; */
}

.socialMedias {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.medias {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.line {
    width: 2px;
    height: 100px;
    background-color: #151C26;
}