:root {
  --main-color: #dd264e;
  --text-color: #313a4b;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  background-color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}
button:disabled {
  opacity: 0.99;
  cursor: not-allowed;
}
.pagination button:disabled {
  border: 1px solid #ddd !important;
}
button:disabled img {
  opacity: 0.2;
}
h1,
h2 {
  margin: 0;
}
.separatedPart {
  height: 50px;
  width: 100%;
}
.btns {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}
.ant-dropdown-open {
  z-index: 9999;
}
.ant-dropdown-menu {
  top: -35px;
  padding-top: 40px !important;
  padding-bottom: 20px !important;
  border-bottom-left-radius: 45px !important;
  border-bottom-right-radius: 45px !important;
}
.ant-dropdown-menu-item {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.ant-dropdown-menu-item:last-child {
  border-bottom-left-radius: 45px !important;
  border-bottom-right-radius: 45px !important;
}
@media screen and (max-width: 975px) {
  .btns {
    flex-direction: column;
  }
  .btns,
  .btn {
    width: 100% !important;
  }
  .App {
    min-height: auto;
  }
}
