:root {
  --main-color: #dd264e;
  --text-color: #313a4b;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  background-color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}
h1 {
  margin: 0;
}
.separatedPart {
  height: 50px;
  width: 100%;
}
.btns {
  display: flex;
  gap: 20px;
}
