.bgContainer {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pattern1,
.pattern2 {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.pattern1 img,
.pattern2 img {
  width: 100%;
  height: 100%;
}

.pattern1 {
  left: 40px;
}

.pattern2 {
  right: 40px;
}

.bigPattern {
  width: 24vw;
  /* height: 600px; */
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.bigPattern img {
  width: 100%;
  height: 100%;
}

.sidePattern1,
.sidePattern2 {
  width: 100%;
  position: absolute;
  left: 0;
}

.sidePattern1 {
  top: 0;
}

.sidePattern2 {
  bottom: 0;
  transform: rotate(180deg);
}
@media screen and (max-width: 975px) {
  .sidePattern1 {
    z-index: 3;
  }
}
